*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    background: linear-gradient(90deg,#cb11ab,#481173);
    padding-top: 11px;
    padding-bottom: 20px;
}
.container{
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1350px;
}
.country__img{
    width: 14px;
    height: 14px;
    display: inline-block;
    border-radius: 50%;
}
.city__img{
    width: 15px;
    height: 14px;
}
.country__text{
    display: inline-block;
    color: #fff;
}
.city__text{
    display: inline-block;
    color: #fff;
}
.country{
    display: inline-block;
}
.city{
    display: inline-block;
    margin-left: 15px;
}
.header_link-text{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}
.report{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}

.link__report-img{
    width: 18px;
    height: 19px;
    transform: translateX(-10px) translateY(5px);
}
.header__wrap{
    display: flex;
    justify-content: space-between;
}
.header__links{
    display: flex;
    column-gap: 20px;
}
.reportProblem{
    display: flex;
    background: #cb11ab;
    border-radius: 16px;
}
.report{
    color: #fff;
    display: flex;
    align-items: center;
    padding: 5px 12px 7px;
}
.report__link{
    display: inline-block;
    text-decoration: none;
}
.header_link-text{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 5px 12px 7px;
    background: -webkit-gradient(linear,left top,right top,color-stop(0,#bf5ae0),to(#a811da));
    border-radius: 16px;
}
@media (min-width:889px) and (max-width: 1024px){
    .header_link-text{
        font-size: 10px;
    }
    .report{
        font-size: 10px;
        
    }
    .link__report-img{
        transform: translateX(-10px) translateY(1px);
        width: 16px;
        height: 17px;
    }
}
.navigation{
    background: linear-gradient(90deg,#cb11ab,#481173);
    margin-bottom: 40px;
}
.navigation__wrap{
    display: flex;
    justify-content: space-between;
}
.search-box{
    display: flex;
    align-items: center;
}
.search-txt{
    background-color: rgba(240,240,243,.3);
    outline: none;
    border: none;
    width: 100%;
    min-width: 500px;
    height: 56px;
    padding: 4px 42px 9px 42px;
    border-radius: 28px;
    padding-left: 20px;
}
@media (min-width:889px) and (max-width: 1024px){
    .search-txt{
        min-width: 380px;
        height: 45px;
    }
}
@media (min-width:768px) and (max-width: 888px){
    .search-txt{
        min-width: 320px;
        height: 40px;
    }
    .header_link-text{
        font-size: 10px;
    }
    .report{
        font-size: 10px;
        
    }
    .link__report-img{
        transform: translateX(-10px) translateY(1px);
        width: 16px;
        height: 17px;
    }
}
::-webkit-input-placeholder{
    color: #fff;
}
.burger{
    display: flex;
    align-items: center;
}
.burger__img{
    max-width: 48px;
    max-height: 48px;

}
.Waldberries__img{
    display: flex;
    align-items: center;
}
@media (min-width:768px) and (max-width: 1024px){
    .Waldberries__img-wrap{
        max-width: 250px;
    }
}   
@media (min-width:768px) and (max-width: 888px){
    .Waldberries__img-wrap{
        max-width: 200px;
        
    }
}
@media (min-width:768px) and (max-width: 1024px){
    .burger__img{
        max-width: 39px;
        max-height: 39px;
    }

}
.entrance__img{
    width: 64px;
    height: 64px;
    display: block;
    margin: 0 auto;
}
@media (min-width:768px) and (max-width: 1024px){
    .entrance__img{
        width: 50px;
        height: 50px;
    }
}
.img__basket{
    width: 64px;
    height: 64px;
    display: block;
    margin: 0 auto;
}
@media (min-width:768px) and (max-width: 1024px){
    .img__basket{
        width: 50px;
        height: 50px;
    }
}
.entrance__text{
    text-decoration: none;
    color: #fff; 
    text-align: center;
}
.basket__text{
    text-decoration: none;
    color: #fff;
    text-align: center;
}
.swiper{
    max-width: 1000px;
    height: 100%;
  }
.swiper-slide{
    text-align: center;
    font-size: 18px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img{
    max-width: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev{
    right: 140px !important; 
    top: 300px !important;
    left: auto;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next{
    left: 140px !important; 
    top: 300px !important;
    right: auto;
}
.hits{
    margin-bottom: 60px;
}
.hits__blocks{
    display: grid;
    grid-template-columns: repeat(5,minmax(150px,261px));
    grid-gap: 50px 30px;
}
@media (min-width:768px) and (max-width: 1024px){
    .hits__blocks{
        grid-template-columns: repeat(4,minmax(150px,261px));
    }
}
.hits__title-text{
    margin-bottom: 28px;
}
.hitsProductText{
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 5px;
    font-family: 'Raleway', sans-serif;
}
.hits__img{
    max-width: 231px;
    width: 100%;
    transition: 1s;
}
.hits__img:hover {
    transform: scale(1.3); 
}
.btnBlockHits{
    padding: 5px 11px 6px;
    border-radius: 6px;
    font-size: 14px;
    line-height: 17px;
    height: auto;
    background-color: #cb11ab;
    color: #fff;
    border: none;
}
.btnBlockHits:hover{
    background-color: #a811da;
}
.btnBlockHits:active{
    background-color: #481173;
}
.BtnShowMore{
    display: block;
    height: 50px;
    background-color: #fff;
    border: 2px solid #cb11ab;
    border-radius: 8px;
    color: #cb11ab;
    font-size: 16px;
    line-height: 1.375;
    padding: 0 93px 3px 73px;
    margin: 0 auto;
    margin-top: 55px;
}
.BtnShowMore:hover{
    background-color:#bf5ae0;
    color: #fff;
}
.BtnShowMore:active{
    background-color: #fff;
    color: #bf5ae0;
}
.catalog{
    margin-bottom: 50px;
}
.catalog__wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
    gap: 24px; 
}
.catalog__photo{
    overflow: hidden;
    max-width: 610px;
}
.catalog__img{
    max-width: 610px;
    -webkit-transition:
    -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s; 
    transition: transform 0.5s, -webkit-transform 0.5s;
}
@media (min-width:768px) and (max-width: 1024px){
    .catalog__img{
        max-width: 530px;
    }
}
.catalog__img:hover{
    -webkit-transform:scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.viewed__blocks{
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(5,minmax(150px,261px));
    grid-gap:30px;
}
@media (min-width:768px) and (max-width: 1024px){
    .viewed__blocks{
        grid-template-columns: repeat(3,minmax(150px,261px));
    }
}
.viewed__text-title{
    margin-bottom: 20px;
}
.contacts{
    background: #481173;
    padding: 45px;
}
.contacts__blocks-wrap{
    display: flex;
    justify-content: space-between;
}
.wrap{
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}
.wrap_title{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 10px;
}
.contact__link{
    text-decoration: none;
    color: hsla(0,0%,100%,.7);
    -webkit-transition: color .25s ease;
    transition: color .25s ease;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    
}
.contact__link:hover{
    color: #fff;
}
.img__contact{
    max-width: 147px;
    max-height: 47px;
    border-radius: 10px;   
}
.hits__title-text{
    color: #090101;
    font-weight: 700;
    font-size: 30px;
}
.basement{
    background: #481173;
}
.basement__blocks{
    display: flex;
    justify-content: left;
    column-gap: 50px;
}
.contact__wrap{
    padding-top: 25px;
    padding-bottom: 25px;
}
.basketText{
    margin-top: 100px;
    margin-bottom: 60px;
    text-align: center;
}

